#content {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
}
#left {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#right {
    display: flex;
    margin-right: 16%;
}

button {
    border-radius: 10px;
    margin: 0 25px;
    font-weight: bold;
    width: 90px;
}

button:hover {
    background-color: aliceblue;
}


#content-b {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    align-items: center;
}
#testimonial {
    width: 50%;
    padding: 120px;
    color: black;
}
#d-img {
    width: 50%;
    margin: 20px auto;
    border-radius: 20px;
}