#content {
    display: flex;
    flex-direction: column;
}

#header {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}


#content-b {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    align-items: center;
}
#testimonial {
    width: 50%;
    padding: 120px;
    color: black;
}
#d-img {
    width: 50%;
    margin: 20px auto;
    border-radius: 20px;
}